.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
  max-width: 45rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px #888888;
  padding: 1.2rem;
  border-radius: 10px;
  background-color: #ffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #c81cb2;
}
label {
  margin-bottom: 1px;
  float: left;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}
body {
  background-color: #e6e6e6;
}
.table th {
  font-family: fantasy;
  letter-spacing: 1px;
  color: #c81cb2;
}

.table tbody {
  font-family: cursive;
  font-size: 18px;
}

.form-login {
  max-width: 30rem;
  margin: 5rem auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 18px #888888;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.heading-log {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1319da;
}

.form-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.7px;
  font-size: 18px;
  color: #2641F0;
}
